{% load static %}
<!--footer-->
    <div class="container-fluid blog-sb-widgets page-styling site-footer">
        <div class="row">
            <div class="col-sm-12 col-md-4 widget align-center-tablet f-logo-wrap">
                <a href="index.html" class="f-logo">
                    <img src="" alt="">
                </a>
                <nav class="navbar bg-body-tertiary">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="#hola">Proyecto final de Bios 2023 por Juan Zorrilla</a>
                    <h1>Mis redes <div>
                      <a href="https://github.com/JuanZorrilla07"><img src="{% static 'img/git.png' %}" alt="" width="50px"></a>
                      <a href="https://www.linkedin.com/in/juan-andres-zorriilla-de-sanmartin-6b9481257/"><img src="{% static 'img/link.png' %}" alt="" width="50px"></a>
                    </div></h1>
                
            </div>
        </div>
    </div>